{% extends 'base.html.twig' %}

{% block body %}

   <div class="box">
      <div class="box-header">Challenge 1</div>
      <div class="box-body">
         <div class="row">
         {% for challenge in challenges1 %}
            <div class="col-6 mb20 text-center">{{ challenge|raw }}</div>
         {% endfor %}
         </div>
      </div>
   </div>

   <div class="hr"></div>

   <div class="box">
      <div class="box-header">Challenge 2</div>
      <div class="box-body">
         <div class="row">
         {% for challenge in challenges2 %}
            <div class="col-12 mb20 text-center">{{ challenge|raw }}</div>
         {% endfor %}
         </div>
      </div>
   </div>

   <div class="hr"></div>

   <div class="box">
      <div class="box-header">Challenge 3</div>
      <div class="box-body">
         <div class="row">
         {% for challenge in challenges3 %}
            <div class="col-6 mb20 text-center">{{ challenge|raw }}</div>
         {% endfor %}
         </div>
      </div>
   </div>

{% endblock %}
