{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
                <div class="box">
                    <div class="box-body p10 text-center">
                        <div class="bold">Classement par moyenne</div>
                        <div class="fs12 color-9">Seules les parties terminées sont comptabilisées</div>
                    </div>
                </div>
        </div>
    </div>
    {% for k, user in averages %}
        <div class="box relative">
            <div class="{{ HTML.save('md') }} t5 bold r5 absolute">{{ k+1 }}</div>
            <div class="box-body">
                <div class="fl mr20">
                    <img src="{{ asset('img/avatar/' ~ user.image) }}" class="avatar h80">
                </div>
                <div class="fl">
                    <div class="bold fs16 mt0 mb0">{{ user.name }}</div>
                    <div class="fs12">
                        <div class="fl w120">Total points</div>
                        <div class="fl bold">{{ user.score|score }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="fs12">
                        <div class="fl w120">Nombre de parties</div>
                        <div class="fl bold">{{ user.nbGames }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="fs12">
                        <div class="fl w120">Moyenne</div>
                        <div class="fl bold text-danger">{{ user.average|round(0) }}</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    {% endfor %}
    <div class="hr"></div>
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body p10 text-center">
                    <div class="bold">Classement par meilleur score</div>
                    <div class="fs12 color-9">Seules les parties terminées sont comptabilisées</div>
                </div>
            </div>
        </div>
    </div>
    {% for k, user in scores %}
        <div class="box relative">
            <div class="{{ HTML.save('md') }} t5 bold r5 absolute">{{ k+1 }}</div>
            <div class="box-body">
                <div class="fl mr20">
                    <img src="{{ asset('img/avatar/' ~ user.image) }}" class="avatar h80">
                </div>
                <div class="fl mt5">
                    <div class="bold fs16 mt0 mb0">{{ user.name }}</div>
                    <div class="fs12">
                        <div class="fl w120">Meilleur score</div>
                        <div class="fl bold text-danger">{{ user.best|score }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="fs12">
                        <div class="fl w120">Pire score</div>
                        <div class="fl">{{ user.worse|score }}</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
