{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <a href="{{ path('game_index') }}" class="js-openLoader">
                <div class="box pushed-touch">
                    <div class="box-body p10 text-center">
                        <div class="bold">Retour</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="hr"></div>

    <div class="row">
        <div class="col-6">
            <a href="{{ path('option_challenge') }}">
                <div class="box pushed-touch">
                    <div class="box-body p10 text-center">
                        <div class="bold">Challenges</div>
                    </div>
                </div>
            </a>
        </div>
        {#      <div class="col-6"> #}
        {#         <a href="{{ path('option_games_delete') }}" id="js-btn-delete-all"> #}
        {#            <div class="box pushed-touch"> #}
        {#               <div class="box-body p10 text-center"> #}
        {#                  <div class="bold">Supprimer les parties</div> #}
        {#               </div> #}
        {#            </div> #}
        {#         </a> #}
        {#      </div> #}

        <div class="col-6">
            <a href="{{ path('option_logs_delete') }}" class="js-openLoader">
                <div class="box pushed-touch">
                    <div class="box-body p10 text-center">
                        <div class="bold">Supprimer les logs</div>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="hr"></div>

    {% for log in logs %}
        <div class="box">
            <div class="box-body">
                <div class="bold mb5">{{ log.date }}</div>
                <div>{{ log.text|raw }}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}