{% extends 'base.html.twig' %}

{% block body %}

   <div class="row">
      <div class="col-6">
         <a href="{{ path('game_index') }}" class="js-openLoader">
            <div class="box pushed-touch">
               <div class="box-body p10 text-center">
                  <div class="bold">Retour</div>
               </div>
            </div>
         </a>
      </div>
      {% if usersIn|length > 1 %}
         <div class="col-6">
            <div class="box pushed-touch js-openLoader" id="js-play">
               <div class="box-body p10 text-center">
                  <div class="bold">Jouer</div>
               </div>
            </div>
         </div>
      {% endif %}
   </div>

   <div class="hr"></div>

   <div class="row">
      {% for k, user in usersOut %}
         <div class="col-6">
            <div class="box pointer pushed-touch noselect js-user {{ user in usersIn ? 'is-in choosed' : '' }}" data-token="{{ user.token }}">
               <div class="box-body">
                  <div class="fl mr10"><img src="{{ asset('img/avatar/' ~ user.image) }}" class="avatar h50"></div>
                  <div class="fl">
                     <div class="bold mt8">{{ user.name }}</div>
                     <div class="fs11 color-9">Me choisir</div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>

   {#    {% if usersIn|length %} #}
   <div class="hr"></div>
   {#    {% endif %} #}

   <form name="form-add" id="form-add" method="post">
      <input type="hidden" name="isPlay" id="isPlay" value="">
      <input type="hidden" name="tokenAdd" id="tokenAdd" value="">
      <input type="hidden" name="tokenDelete" id="tokenDelete" value="">
      <div class="row">
         <div class="col-12">
            <div class="box">
               <div class="box-body text-center">
                  <div class="form-check form-switch form-switch-lg mb0">
                     <input type="checkbox" class="form-check-input nofloat m0 mt3 mr20" name="isVirtualDices" id="isVirtualDices" value="1" {{ isVirtualDices ? 'checked' : '' }}>
                     <label class="form-check-label custom-control-label mt8 fs14 bold" for="isVirtualDices">Jouer avec des dés virtuels ?</label>
                  </div>
               </div>
            </div>
         </div>
         {% for user in usersIn %}
            <div class="col-3">
               <input type="hidden" name="tokens[]" value="{{ user.token }}">
               <div class="box noselect pointer pushed-touch js-user is-in" data-token="{{ user.token }}">
                  <div class="box-body text-center">
                     <div class=""><img src="{{ asset('img/avatar/' ~ user.image) }}" class="avatar h40"></div>
                     <div class="bold mt5">{{ user.alias }}</div>
                     <div class="bold">{{ loop.index }}</div>
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
   </form>

{% endblock %}