{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <a href="{{ path('index') }}" class="js-openLoader">
                <div class="box pushed-touch">
                    <div class="box-body p10 text-center">
                        <div class="bold">Retour</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{{ path('game_add') }}" class="js-openLoader">
                <div class="box pushed-touch">
                    <div class="box-body p10 text-center">
                        <div class="bold">Nouvelle partie</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="hr"></div>

    <div class="row">
        {% for game in games %}
            <div class="col-12 col-md-6 relative" id="js-game{{ game.data.token }}">
                <a href="{{ path('game_show', {token: game.data.token}) }}" class="js-openLoader">
                    <div class="box pushed-touch">
                        <div class="box-body pl5 pb5 pr5 relative">
                            <ul class="bold m0 p0">
                                {% for player in game.players %}
                                    <li class="tag text-center p0 ml10 mr10 mb10 relative">
                                        <div class="btn btn-sm btn-success fs12 text-uppercase bold absolute" style="top:-5px; left:-5px;">{{ player.rank }}</div>
                                        <img src="{{ asset('img/avatar/' ~ player.data.user.image) }}" class="avatar h60">
                                        <div class="mt5">{{ player.data.user.name }}</div>
                                        <div class="fs11 color-9">{{ player.data.score|score }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </a>
                <button type="button" class="{{ game.data.isOver ? HTML.delete : HTML.see }} js-game-delete t5 r15 absolute" data-token="{{ game.data.token }}">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}