{% extends 'base.html.twig' %}

{% block body %}
   <div class="row">
      <div class="col-6">
         <a href="{{ path('game_show', {token: game.token}) }}" class="js-openLoader">
            <div class="box pushed-touch">
               <div class="box-body p10 text-center">
                  <div class="bold">Retour</div>
               </div>
            </div>
         </a>
      </div>
   </div>
   <div class="hr"></div>
   <div class="box">
      <div class="box-body">
         <div class="fl mr15"><img src="{{ asset('img/avatar/' ~ user.image) }}" class="avatar h80"></div>
         <div class="bold mt0 fs18">
            <div>
               {{ user.name }}<span class="fwn fs12 color-9 ml5"> ({{ player.score|score }})</span>
            </div>
            <div class="mb5">
               <span class="fs12 mr5 p5 radius5 bold" style="{{ step.color|color(1) }}">Objectif {{ goal.order + 1 }}</span>
            </div>
            <div class="fs12 relative">
               {% if challenge.step is null %}
                  <span class="text-danger">
                     <img src="{{ asset('img/color/coloryams.png') }}" class="h24">
                     <span class="ml10 bold fs24 vam text-danger">
                        {% if step.id in [1, 2] %}
                           {{ step.id }}
                        {% else %}
                           {{ goal.order + 1 }}
                        {% endif %}
                     </span>
                  </span>
                  {% if lastColorYams %}
                     <div class="fr fs22 radius5 bg-danger ml10 p5 fwn pl15 pr15 vab absolute r0" style="bottom:0px;">
                        <span class="color-f">></span>
                        <span class="color-f bold ml5">{{ lastColorYams.score }}</span>
                        <div class="clear"></div>
                     </div>
                  {% endif %}
               {% else %}
                  <span class="challenge">{{ challenge.name|raw }}</span>
               {% endif %}
            </div>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <div class="hr"></div>
   <div class="row">
      <div class="col-12 mb20">
         <form name="form-stroke" id="form-stroke" method="post">
            <div id="score-html" data-placeholder="score">&nbsp;</div>
            <input type="hidden" name="score" id="score">
         </form>
      </div>
   </div>
   {% if game.isVirtualDices %}
      <div class="row" id="touches">
         <div class="col-4">
            <div class="css-touch pushed-touch" id="calculator"><i class="fa fa-calculator color-9"></i></div>
         </div>
         <div class="col-4">
            <div class="css-touch pushed-touch disabled" id="roll">
               <i class="fa fa-dice color-9 mr10"></i>
               <span class="fs16" id="rollNum"></span>
            </div>
            <div class="css-touch pushed-touch none" id="zeroScore"><i class="fa fa-times text-danger"></i></div>
         </div>
         <div class="col-4">
            <div class="js-touch css-touch pushed-touch js-save-player" data-key="save"><i class="fa fa-check text-warning"></i></div>
         </div>
      </div>
   {% endif %}
   <div class="row {{ game.isVirtualDices ? 'none' : '' }}" id="numbers">
      {% for i in 1..9 %}
         <div class="col-4">
            <div class="js-touch css-touch pushed-touch" data-key="{{ i }}">{{ i }}</div>
         </div>
      {% endfor %}
      <div class="col-4">
         <div class="js-touch css-touch pushed-touch" data-key="delete"><i class="fa fa-step-backward color-9"></i></div>
      </div>
      <div class="col-4">
         <div class="js-touch css-touch pushed-touch" data-key="0">0</div>
      </div>
      <div class="col-4">
         <div class="js-touch css-touch pushed-touch js-save-player" data-key="save"><i class="fa fa-check text-warning"></i></div>
      </div>
   </div>
   {% if game.isVirtualDices %}
      <div id="dices"></div>
   {% endif %}
{% endblock %}