{% extends 'base.html.twig' %}
{% set col = isReloadable or isRevengePossible ? 3 : 6 %}

{% block body %}
   <div class="row">
      <div class="col-{{ col }}">
         <a href="{{ path('game_index') }}" class="js-openLoader">
            <div class="box pushed-touch">
               <div class="box-body p10 text-center">
                  <div class="bold">Retour</div>
               </div>
            </div>
         </a>
      </div>
      {% if isReloadable %}
         <div class="col-3">
            <a href="{{ path('game_reload', {token:game.token}) }}" class="js-openLoader">
               <div class="box pushed-touch">
                  <div class="box-body p10 text-center">
                     <div class="bold"><i class="fa fa-pencil-alt"></i></div>
                  </div>
               </div>
            </a>
         </div>
      {% elseif isRevengePossible %}
         <div class="col-3">
            <a href="{{ path('game_revenge', {token:game.token}) }}" class="js-openLoader">
               <div class="box pushed-touch">
                  <div class="box-body p10 text-center">
                     <div class="bold">
                        <div class="bold"><i class="fa fa-redo-alt"></i></div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
      {% endif %}
      {% if not game.isOver %}
         <div class="col-6">
            <a href="{{ path('game_play', {token: game.token}) }}" class="js-openLoader">
               <div class="box pushed-touch">
                  <div class="box-body p10 text-center">
                     <div class="bold">Jouer</div>
                  </div>
               </div>
            </a>
         </div>
      {% endif %}
   </div>

   <div class="hr"></div>

   {#   {{ dump(grid.rank) }} #}

   <div class="row">
      {% for player in grid.players %}
         <div class="col-6">
            <div class="box">
               <div class="box-body relative">
                  <div class="btn btn-sm btn-success fs12 text-uppercase t5 bold r5 absolute">
                     <i class="fa fa-trophy fs10 mr5"></i>
                     {{ player.rank }}
                  </div>
                  <div class="fl mr10"><img src="{{ asset('img/avatar/' ~ player.image) }}" class="avatar h50"></div>
                  <div class="fl">
                     <div class="bold mt8">{{ player.name }}</div>
                     <div class="fs11 color-9">{{ player.score|score }}</div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>

   <div class="hr"></div>

   <div class="row">
      <div class="col-12">
         <div class="table-responsive">
            <table class="{{ HTML.table }}" id="table-coloryams">
               <thead>
                  <tr>
                     <th class="vam">Objectifs</th>
                     {% for player in grid.players %}
                        <th class="text-center vat w1 text-nowrap" colspan="2">
                           <img src="{{ asset('img/avatar/' ~ player.image) }}" class="avatar h50">
                           <div class="mt5">{{ player.alias }}</div>
                        </th>
                     {% endfor %}
                  </tr>
               </thead>
               <tbody>
                  {% for step in grid.steps %}
                     {% set hasScore = false %}
                     {% for goal in step.goals %}
                        <tr>
                           <th class="text-nowrap" style="{{ step.color|color(goal.alphaLight) }}">
                              {% if not goal.isColorYams %}
                                 <span class="challenge">{{ goal.name|raw }}</span>
                              {% else %}
                                 <img src="{{ asset('img/color/coloryams.png') }}" class="h26">
                              {% endif %}
                           </th>
                           {% for player in goal.players %}
                              {% set hasScore = player.score is not null ? true : hasScore %}
                              <td class=" text-center vam js-delete-score bold" data-token="{{ player.score is not null ? player.strokeToken : '' }}" style="{{ step.color|color(goal.alphaLight) }}">
                                 {{ player.score }}
                              </td>
                              <td class="text-center vam fs12 color-7" style="{{ step.color|color(goal.alpha) }}">
                                 {{- player.bonus -}}
                              </td>
                           {% endfor %}
                        </tr>
                     {% endfor %}
                     <tr class="fs15">
                        <th class="color-0">TOTAL {{ not loop.last ? loop.index : '' }}</th>
                        {% for player in step.players %}
                           <td class="text-center bold color-0" colspan="2">{{ hasScore ? player.score : '' }}</td>
                        {% endfor %}
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>

   <div class="hr"></div>

   <div class="box">
      <div class="box-body text-center">
         {#         <div class="form-check form-switch"> #}
         {#            <input class="form-check-input m0 mt3 mr10" name="withDices" type="checkbox" disabled {{ game.isVirtualDices ? 'checked' : '' }}> #}
         {#            <label class="form-check-label" for="withDices">Jeu avec des dés virtuels</label> #}
         {#         </div> #}
         <div class="form-check form-switch form-switch-md mb0">
            <input type="checkbox" class="form-check-input nofloat m0 mt3 mr10" id="isVirtualDices" disabled {{ game.isVirtualDices ? 'checked' : '' }}>
            <label class="form-check-label custom-control-label mt5 fs14 bold" for="isVirtualDices">Jeu {{ game.isVirtualDices ? 'avec des' : 'sans' }} dés virtuels</label>
         </div>
      </div>
   </div>

   <div class="box">
      <div class="box-body">
         Partie jouée le {{ game.date|dateHour }}
      </div>
   </div>

{% endblock %}