html, body {
    background:#f3f3f3;
}

body, a, * {
    color:#4e5052;
}

body {
    margin:0;
    padding:0;
    font-size:14px;
    font-family:Calibri, "Trebuchet MS", Consolas, sans-serif;
}

a {
    text-decoration:none !important;
    /*color:#3c8dbc;*/
}

a, a:visited, a:link, a:active {
    text-decoration:none !important;
}

table {
    width:100%;
    box-sizing:border-box;
    border-collapse:collapse;
    background:#fff;
}

th {
    text-align:left;
    text-transform:uppercase;
}

th, td {
    border:solid 1px #ddd;
    padding:10px;
}

tbody tr:nth-child(odd) {
    background:#f9f9f9;
}

thead tr th, thead tr td {
    border-color:#ccc;
}

nav {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    background:#fff;
    margin:0 auto;
    text-align:center;
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
    z-index:99999;
}

nav ul {
    margin:0;
    padding:0;
    font-size:0;
    list-style:none;
    display:inline-block;
}

nav li {
    margin:0;
    padding:0;
    display:inline-block;
}

nav a {
    width:70px;
    height:50px;
    line-height:50px;
    font-size:14px;
    margin:5px;
    text-transform:uppercase;
    display:block;
    border-radius:30px;
}

nav a:active, nav a.active {
    box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.1);
    background:#eee;
}

nav a i {
    height:50px !important;
    line-height:50px !important;
    display:block;
}

nav a:hover {
    background:#eee;
}

main {
    padding-top:20px;
    padding-bottom:60px;
    /*min-height:1000px;*/
}

.tag { display:inline-block; margin:0; }

.sf-toolbarreset {
    /*top:0 !important;*/
    bottom:60px !important;
}
.sf-dump {
    z-index:999 !important;
}
.sf-minitoolbar {
    z-index:9999999;
}

hr {
    width:100%;
    height:2px !important;
    margin:0 0 20px !important;
    border-top:solid 1px #888 !important;
    border-bottom:solid 1px #fff !important;
    display:block;
    background:none;
}

.hr {
    width:100%;
    height:2px !important;
    margin:0 0 20px !important;
    border-top:solid 1px #ddd !important;
    border-bottom:solid 1px #fff !important;
    display:block;
    background:none;
    margin:0 0 20px;
}

.avatar {
    border-radius:100px;
    background:#eee;
    box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .25);
}

.btn, .btn > * { color:#fff; }
.btn-xs { padding:2px 5px !important; }
.btn-sm { padding:3px 6px !important; }
.btn-md { padding:4px 8px !important; }
.btn-lg { padding:8px 16px !important; }
.btn-xl { padding:16px 32px !important; }
.btn-xxl { padding:24px 64px !important; }

.table thead th {
    border-width:1px !important;
}
#table-coloryams, #table-coloryams th, #table-coloryams td {
    border-color:#b4cbe5 !important;
    border-color:#bbb !important;
    border-color:#bbb !important;
}

#score {
    height:80px;
    line-height:80px;
    text-align:center;
}

.choosed {
    opacity:.25;
}

.pushed-touch:active {
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.table > :not(:first-child) {border-top-width:1px; }
#table-coloryams thead th { border-bottom-color:#666!important; }