/*
bleu de base    : 2980b9
bleu -10        : 2f92d4
bleu +10        : 236fa1
bleu +20        : 1e5d87
*/
@font-face {
    font-family:"FontAwesome";
    src:url("../webfonts/fa-solid-900.eot");
    src:url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}


.fl { float:left !important; }
.fr { float:right !important; }
.fixed { position:fixed !important;}
.absolute { position:absolute !important; }
.block { display:block !important; }
.min { width:1px !important; white-space:nowrap !important; }
.min20 { width:1px !important; white-space:nowrap !important; padding-left:20px !important; padding-right:20px !important; }
.text-purple { color:#de0aaf !important; }
.block-custom { background:#fcfcfc; padding:6px; }
hr { margin:15px 0 !important; }
.border-primary { border:solid 1px #1e5d87 !important; }
.vat { vertical-align:top !important;}
.vam { vertical-align:middle !important;}
.vab { vertical-align:bottom !important;}
.pointer {cursor:pointer !important;}
.table th, .table td {
    /*vertical-align:middle!important;*/
}
.radius5 { border-radius:5px !important; }
.radius10 { border-radius:10px !important; }
.noselect {
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none; /* Safari */
    -khtml-user-select:none; /* Konqueror HTML */
    -moz-user-select:none; /* Old versions of Firefox */
    -ms-user-select:none; /* Internet Explorer/Edge */
    user-select:none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.relative { position:relative !important; }
.absolute { position:absolute !important; }

/*
///////////////////////////////////////////
BOX
///////////////////////////////////////////
*/
.box { background:#fff; margin:0 0 20px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.1); border-radius:5px; }
.box-header { padding:10px 15px; font-weight:bold; font-size:13px; line-height:20px; }
.box-header-right { float:right; color:#bbb; }
.box-header-right i { font-size:12px; line-height:20px; }
.box-body { padding:15px; }
.box-footer { padding:10px; border-top:solid 1px #eee; }


/*
///////////////////////////////////////////
BTN
///////////////////////////////////////////
*/
.btn { border-radius:0 !important; padding:4px 8px; line-height:normal; background:#f9f9f9; border:solid 1px #ddd; color:#4e5659; color:#666; }
.btn:hover, .btn:focus { color:#fff !important; }


/*.btn-primary { border-color:#5499C7!important; }*/
/*.btn-success { border-color:#45B39D!important; }*/
/*.btn-danger { border-color:#CD6155!important; }*/
/*.btn-warning { border-color:#f6b93b!important; }*/
/*.btn-info { border-color:#9fbfd1!important; }*/
/*.btn-default { border-color:#bbbdc4!important; }*/

.btn { border-radius:5px !important; }
.btn-primary { background:#5499C7; border:none !important; color:#fff !important; }
.btn-success { background:#45B39D !important; border:none !important; color:#fff !important; }
.btn-danger { background:#CD6155 !important; border:none !important; color:#fff !important; }
.btn-warning { background:#f6b93b !important; border:none !important; color:#fff !important; }
.btn-info { background:#9fbfd1 !important; border:none !important; color:#fff !important; }
.btn-default { background:#bbbdc4 !important; border:none !important; color:#fff !important; }
.btn-xs { padding:1px 4px; }
.btn-sm { padding:2px 6px; font-size:12px; }
.btn-md { padding:3px 8px; }


/*input.form-control { background:#49545e; }*/
/*input.form-control:focus { background:#3f4852; color:#fff; }*/

/*
///////////////////////////////////////////
DATATABLE
///////////////////////////////////////////
*/
/*.dataTables_info, .dataTables_paginate { margin-top:10px!important; }*/
.dataTables_paginate a.paginate_button { cursor:pointer; margin-left:5px; background:#f9f9f9; border:solid 1px #bbbdc4; padding:3px 10px; color:#4e5659 !important; display:inline-block; }
.dataTables_paginate a.paginate_button:hover { background:#bbbdc4 !important; border-color:#8a8c91 !important; color:#fff !important; }
.dataTables_paginate a.paginate_button.current,
.dataTables_paginate .paginate_button.current:hover { background:#2980b9 !important; border-color:#5499C7 !important; color:#fff !important; cursor:default; }
.dataTables_paginate a.paginate_button.disabled,
.dataTables_paginate a.paginate_button.disabled:hover { background:#f9f9f9 !important; border:solid 1px #bbbdc4 !important; color:#4e5659 !important; cursor:default !important; opacity:.5 !important; }

/*
///////////////////////////////////////////
LOADER
///////////////////////////////////////////
*/
.loader { position:fixed; width:100%; height:100%; top:0; left:0; z-index:999999; background:rgba(0, 0, 0, .2); }
.loader-content { width:300px; height:200px; margin:-100px 0 0 -150px; box-shadow:0 2px 2px rgba(0, 0, 0, .1); background:#fff; padding:20px; position:fixed; top:50%; left:50%; z-index:999; text-align:center; /*border-radius:100px;*/ }
.loader-icon { font-size:20px; text-align:center; color:#2980b9; margin:45px auto 15px; border-width:2px; }
.loader-text { font-size:14px; color:#4e5659; }


.loader { width:100%; height:100%; z-index:999999; background:rgba(0, 0, 0, .4); position:fixed; top:0; left:0; }
.loader-content { width:300px; height:300px; position:fixed; top:50%; left:50%; margin-top:-155px; margin-left:-150px; text-align:center; border-radius:300px; color:#666; background:#fff; border:solid 10px #ddd; padding:55px 0 0; cursor:default; }

.loader-content {
    width: 260px;
    height: 130px;
    padding-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px;
    margin: -115px 0px 0px -130px;
    border-radius: 5px;
    border:none;
}
.loader-content i { margin:25px 0 5px 0px; font-size:40px; }
.loader-content .glyphicon { margin:30px 0 5px 0px; font-size:40px; }
.loader-message {
    font-size: 14px;
    /*font-weight: 300;*/
    padding: 10px;
    color:#666;
}
.loader-message span {
    font-size:15px;
    font-weight:400;
    color:#444;
}

.loader-content {
    width:150px;
    height:150px;
    margin: -75px 0px 0px -75px;
    background:none;
    box-shadow:none;
}

.loader-content i {
    color:#fff;
    font-size:80px;
}


/*
///////////////////////////////////////////
DEBUG
///////////////////////////////////////////
*/
pre { margin:0; padding:0; }
pre.debug, .debug-pre { background:#222; color:#eee; font-family:Consolas, monospace; padding:10px; }
pre.debug .comm, .debug-comment { color:#45B39D !important; }

/*.debug-block {  }*/


.company { font-weight:bold; color:#da2128; }
.pole { font-weight:bold; color:#000; }
.poles, .agencies { margin:0 0 0 20px; }
.pole, .agency { margin:10px 0 0; }


/*
///////////////////////////////////////////
FORMULAIRE
///////////////////////////////////////////
*/
select { border-color:#ced4da !important; width:100% !important; height:32px !important; /*appearance:initial;*/ padding:0 8px !important; }
select, select > * { outline:none !important; }
.form-control, .btn { box-shadow:none !important; }
.form-control { padding:4px 8px; height:32px; }
.form-control::placeholder { color:#bbb; font-size:12px; }
.form-control, select, textarea, select.form-control, .select2, .select2-selection { border-radius:5px !important; }
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single { padding:0 !important; height:32px !important; border-color:#ced4da !important; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height:26px; }
.form-check { margin:0; padding:0; }
.select2-dropdown, .select2-search__field { border-radius:0 !important; outline:none !important; }
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single { padding:0 8px; height:32px; line-height:30px; outline:none !important; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height:22px; line-height:22px; outline:none !important; }
.select2-container--focus, .select2-container--focus *, .select2-container--focus > *, .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {border-color:#ced4da !important; box-shadow:0 0 0 0 #fff !important;border-radius:0 !important; outline:none !important; }
.select2-search, .select2-container--default .select2-search--dropdown .select2-search__field { border-radius:0 !important; padding:4px; box-shadow:0 0 0 0 #fff !important; outline:none !important; }
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single { height:calc(2.25rem + 2px); padding:0; line-height:calc(2.25rem + 2px); outline:none !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height:32px; padding:0 8px; height:32px; outline:none !important; }
.select2-container--default .select2-selection--single .select2-selection__arrow { top:6px; right:6px; outline:none !important;}
.select2-results__option { padding:4px; }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background:#2980b9 !important; }


/*
///////////////////////////////////////////
CHECKBOX et BOUTON RADIO
///////////////////////////////////////////
*/
/* https://la-cascade.io/astuces-css-avec-checkbox/ */
/*input[type="checkbox"], input[type="radio"] { position:absolute; left:-9999px; }*/
/*.radio, .checkbox { display:inline-block; position:relative; margin:0 0; padding-left:25px; min-height:18px; }*/
/*.radio::before, .radio::after, .checkbox::before, .checkbox::after { content:''; position:absolute; top:0; left:0; background:linear-gradient(#f3f3f3, #fff); }*/
/*input[type="radio"] + .radio::before, input[type="radio"] + .radio::after { border-radius:50%; }*/
/*!* Bordure de base *!*/
/*.radio::before, .checkbox::before { display:block; width:16px; height:16px; border:1px solid #666; }*/
/*.radio::after, .checkbox::after { display:none; width:16px; height:16px; line-height:16px; margin:0; text-align:center; background:#2980b9 !important; font-size:8px; }*/
/*input:checked + .radio::after, input:checked + .checkbox::after { display:block; font-family:'FontAwesome', sans-serif !important; content:"\f00c"; font-weight:600; color:#fff; font-size:8px; }*/
/*!* Hover *!*/
/*.radio:hover::before, .checkbox:hover::before { border-color:#1e5d87; }*/
/*!* Contour et fond des boutons radio et checkbox désactivés *!*/
/*input[type="checkbox"]:disabled + label::before, input[type="checkbox"]:disabled + label::after { border-color:#ccc !important; background:#fff; }*/
/*!* Couleur de coche des boutons radio et checkbox désactivés mais cliqués *!*/
/*input:disabled:checked + .radio::after, input:disabled:checked + .checkbox::after { background-color:#2980b9 !important; }*/
/*!* cliqué et hover *!*/
/*input:checked:hover + .radio::before, input:checked:hover + .checkbox::before, input:checked:hover + .radio::after, input:checked:hover + .checkbox::after { border-color:#1e5d87 !important; }*/
/*!* cliqué mais pas hover *!*/
/*input:checked + .radio::before, input:checked + .checkbox::before, input:checked + .radio::after, input:checked + .checkbox::after { border-color:#2980b9 !important; }*/


.container-fluid {
    padding-right:20px !important;
    padding-left:20px !important;
}
.row {
    margin-right:-10px !important;
    margin-left:-10px !important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right:10px !important;
    padding-left:10px !important;
}

.challenge {
    font-size:16px;
}

.challenge img {
    width:26px;
    height:26px;
}

.form-check-input {
    clear: left;
}

.form-switch.form-switch-sm {
    margin-bottom: 0.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-sm .form-check-input {
    height: 1rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}

.form-switch.form-switch-md {
    margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

.form-switch.form-switch-lg {
    margin-bottom: 1.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-lg .form-check-input {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

.form-switch.form-switch-xl {
    margin-bottom: 2rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-xl .form-check-input {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

#table-coloryams tbody th {
    vertical-align:middle!important;
}
#table-coloryams tbody th img {
    vertical-align:bottom!important;
}

.css-touch {
    background:#fff;
    margin:0 0 20px;
    padding:15px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius:5px;
    text-align:center;
    cursor:pointer;
    font-size:1.25rem;
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none; /* Safari */
    -khtml-user-select:none; /* Konqueror HTML */
    -moz-user-select:none; /* Old versions of Firefox */
    -ms-user-select:none; /* Internet Explorer/Edge */
    user-select:none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#score-html {
    background:#fff;
    /*border:solid 1px #ced4da;*/
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    border-radius:5px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}

#score::placeholder { color:#bbb; font-size:1.25rem; text-transform:uppercase; }

.dice:not(.selected) {
    opacity:.2;
}

#roll.disabled {
    opacity:.35;
}

.sign-up {
    font-size:25px!important;
    line-height:25px!important;
    vertical-align:middle!important;
    font-weight:400!important;
    /*margin:0 15px!important;*/
}
