

@media (max-width: 768px) {
    header { position:relative; }
    nav { display:none; }
    #breadcrumb { position:relative; height:auto; line-height:normal; padding:15px; top:0; }
    #module-name, #breadcrumb ul, #breadcrumb-explain, #breadcrumb-buttons { float:none; display:block; }
    #module-name, #breadcrumb ul, #breadcrumb-explain { margin:0 0 5px; }
    #breadcrumb-buttons { text-align:right; }
    #breadcrumb-content { padding:0; }
    #breadcrumb-explain { text-align:left; display:none; }
    main { padding:0; }
    #main-content { padding:15px 15px 0; }
}