.css-touch {
    background:#fff;
    margin:0 0 20px;
    padding:15px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius:5px;
    text-align:center;
    cursor:pointer;
    font-size:1.25rem;
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none; /* Safari */
    -khtml-user-select:none; /* Konqueror HTML */
    -moz-user-select:none; /* Old versions of Firefox */
    -ms-user-select:none; /* Internet Explorer/Edge */
    user-select:none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#score-html {
    background:#fff;
    /*border:solid 1px #ced4da;*/
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    border-radius:5px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}

#score::placeholder { color:#bbb; font-size:1.25rem; text-transform:uppercase; }

.dice:not(.selected) {
    opacity:.2;
}

#roll.disabled {
    opacity:.35;
}

.sign-up {
    font-size:25px!important;
    line-height:25px!important;
    vertical-align:middle!important;
    font-weight:400!important;
    /*margin:0 15px!important;*/
}
