<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}"/>
    <title>{% block title %}Color Yams{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block cssPage %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            {% for menu in NAV.getMenus %}
                <li>
                    <a href="{{ path(menu.link) }}"
                       class="{{ NAV.isActive(menu.route, menu.strictRoute) }} js-openLoader">
                        <i class="fa fa-{{ menu.icon }} fs20"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main class="container-fluid">
        {% block body %}{% endblock %}
    </main>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}{{ ENV.getCache }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <input type="hidden" id="js-today" value="{{ 'now'|date('Ymd') }}">
    {% block jsPage %}{% endblock %}
</body>
</html>
