{% extends 'base.html.twig' %}

{% block body %}
   <div class="row">
      <div class="col-6">
         <a href="{{ path('index') }}" class="js-openLoader">
            <div class="box pushed-touch">
               <div class="box-body p10 text-center">
                  <div class="bold">Retour</div>
               </div>
            </div>
         </a>
      </div>
      <div class="col-6">
         <a href="{{ path('game_index') }}" class="js-openLoader">
            <div class="box pushed-touch">
               <div class="box-body p10 text-center">
                  <div class="bold">Jouer</div>
               </div>
            </div>
         </a>
      </div>
   </div>

   <div class="hr"></div>

   <div class="row">
      {% for k, user in users %}
         <div class="col-6 col-sm-4">
            <div class="box {{ loop.last ? 'mb0' : '' }} text-center">
               <div class="box-body">
                  <div>
                     <img src="{{ asset('img/avatar/' ~ user.image) }}" class="avatar h100">
                  </div>
                  <div>
                     <div class="bold fs16 mt10">{{ user.name }}</div>
                     <div class="fs13 color-9">{{ user.scoreTotal|score }}</div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>
{% endblock %}
